Flask==0.10.1
PyChef==0.2.3
PyYAML==3.11
OCCO-Util==0.1.0
OCCO-InfoBroker==0.1.0
OCCO-Compiler==0.1.0
OCCO-Enactor==0.1.0
OCCO-InfraProcessor==0.1.0
OCCO-CloudHandler==0.1.0
OCCO-ServiceComposer==0.1.0
